{% extends "base.html" %}
{% load static %}
{% load allauth account socialaccount %}

{% block title %}
sign in
{% endblock title %}
{% block nav %} {% endblock nav %}
{% block content %}
<div class="flex flex-col items-center gap-4 mt-10  text-green-500">
    <h1 class="text-2xl">Login to your Donor Account</h1>
    <p>
        If you have not created an account yet, then please
        <a href="{% url  'donor_signup' %}" class="rounded bg-red-950 text-green-300 p-2">sign up</a> first.
    </p>
    <form class="flex flex-col gap-3 mt-10" action="{% url 'account_login' %}" method="post">
        {% csrf_token %}

        <label for="login">Email</label>
        <input id="login" name="login" type="text" placeholder="Email">
        <span class="text-red-800">{{ form.login.errors }}</span>
        <span class="text-red-800">{{ username_error }}</span>

        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="password">
        <span class="text-red-800">{{ form.password.errors }}</span>
        <span class="text-red-800">{{ password_error }}</span>

        <button type="submit">
            <p class="rounded bg-red-950 text-green-300 p-2">signin</p>
        </button>
    </form>

    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}


</div>
{% endblock content %}