{% extends "base.html" %}
{% load allauth %}
{% block title %}
    Change Password
{% endblock title %}
{% block content %}
<div class="flex flex-col items-center">
    <div>
        <h1 class="mb-10">
            {% if token_fail %}
                Bad Token
            {% else %}
            <span class="text-3xl">Change Password</span>    
            {% endif %}
        </h1>
    
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            </p>
        {% else %}
            {% element form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    <div class="flex flex-col items-start gap-2">
                       {% element fields form=form %} 
                    </div>
                    {% endelement %}
                {% endslot %}
                {% slot actions %}
                <div class="mt-3">
                    {% element button type="submit" name="action" %}
                       <span class="rounded bg-red-950 text-green-300 p-2 ">Change Password</span> 
                    {% endelement %}
                </div>

                {% endslot %}
            {% endelement %}
        {% endif %}
    {% endblock content %}
    
    </div>
</div>
