{% extends "base.html" %}
{% load allauth %}
{% load account %}
{% block title %}
Password Reset
{% endblock title %}
{% block content %}
<div class="flex  flex-col items-center mt-28">
    <h1 class="text-3xl">
      Password Reset
    </h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
      We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you
      do not receive it in a few minutes.
    </p>
    {% endblock content %}
</div>