{% extends "base.html" %}
{% load allauth socialaccount %}
{% block title %}
Signup
{% endblock title %}
{% block content %}
<div class="flex flex-col items-center text-green-500">
    <div class="mt-12 flex flex-col gap-3">
        <p>
            Already have an account? Then please <a class="rounded bg-red-950 text-green-300 mt-5 p-2"
                href="{{ login_url }}">sign in</a>.
        </p>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div class=" flex flex-col gap-3 inputCont">
                {% for field in form %}
                <div class="custom-form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    <span class="text-red-500"> {{ field.errors }} </span>
                </div>
                {% endfor %}
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div>
                <button class="rounded bg-red-950 text-green-300 mt-5 p-2" type="submit">
                    Sign Up
                </button>
            </div>
        </form>
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
</div>

{% endblock content %}