{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
 
    <link rel="stylesheet" href="{% static 'src/output.css' %}"> 
   
    {% block extracss %} {% endblock %}
</head>
<body class="bg-slate-300">

{% block nav %}
<nav >
    <div class="flex gap-4 justify-end m-3 ">
        <div class="bg-red-950 p-3 rounded text-green-300"><a href="{% url 'home' %}">Home</a></div>
        {% if user.is_authenticated %}
            <p class="bg-red-950 p-3 rounded text-green-300">Welcome, {{user.email}}! </p> 
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <button class="bg-red-950 p-3 rounded text-green-300" type="submit" >Logout</button>
            </form>
        {% else %}
            <a class="bg-red-950 p-3 rounded text-green-300" href="{% url 'account_login' %}"> Login </a>
        {% endif %}
    </div>
</nav>
{% endblock nav %}


{% block content %} {% endblock %}



{% block javascript %} {% endblock %}
</body>
</html>
