{% extends 'base.html' %}

{% block title %} Donor Registration {% endblock %}

{% block content %}

<div class="flex flex-col items-center mt-10 text-center text-green-500 mb-10">
  <h1 class="text-2xl font-medium mb-6">Become a Blood Donor</h1>

  <form method="post" action="{% url 'donor_signup' %}">

    {% csrf_token %}

    <ul class="flex flex-col gap-4">
      {% for field in form %}
      {{ field.label_tag }}
      <li>{{ field }}</li>
      {% for error in field.errors %}
      <p style="color: red;">{{ error }}</p>
      {% endfor %}  
      {% endfor %}
    </ul>

    <button class=" rounded bg-red-950 text-green-300 mt-5 p-2" type="submit"> Sign Up </button>
  </form>

</div>

{% endblock %}